* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


html, body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
}

body {
    font-family: Roboto, sans-serif;
}

#Registrarse {
    position: relative;
    width: 428px;
    height: 926px;
    background-color: rgba(5, 44, 65, 1);
    overflow: hidden;
    padding: 20px;
}

#form-container {
    margin-top: 100px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5px;
}

.input-group .input-field {
    height: 39px;
    border-radius: 9px;
    border: 1px solid rgba(112, 112, 112, 1);
    padding: 5px 10px;
    background-color: rgba(235, 220, 203, 1);
    font-size: 20px;
}

#Btn_Registrarse {
    width: 283px;
    height: 73px;
    background-color: rgba(81, 199, 22, 1);
    border: 5px solid rgba(17, 151, 114, 1);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}

#Registrarse_hh {
    font-weight: bold;
    font-size: 32px;
    color: rgba(0, 0, 0, 1);
}

#Btn_Registrarse:hover {
    background-color: rgba(17, 151, 114, 1);
}

#Btn_Registrarse:hover #Registrarse_hh {
    color: rgb(255, 255, 255);
}

#Rama_2 {
    position: absolute;
    width: 176px;
    height: 161px;
    left: -15px;
    top: -9px;
    overflow: visible;
}


#Registro {
    position: absolute;
    top: 40px;
    left: 120px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}

#Llene_los_siguientes_campos_hc {
    position: absolute;
    top: 110px;
    left: 20px;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}


@media screen and (min-width: 1024px) {
    #Registrarse {
        width: 768px;
        height: 1024px;
		background-color: rgba(5,44,65,1);

    }

    #Registro{
        font-size: 50px;
        left: 35%;
    }

    #Llene_los_siguientes_campos_hc{
        font-size: 30px;
        top: 120px;
    }

    #Registrarse {
        padding: 40px;
    }

    #Btn_Registrarse{
        top: 120px;
    }
    
}
